/*  MASTER CSS FILE for APPLE WATCH */
body{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

header div{
  width: 100vw;
  height: 44px;

  background-color: #333;
}


header ul{
  width: 1000px;
  height: auto;
  margin: 0 auto;

  background-color: #f00;
}



header ul li{
  width: 10%;
  height: auto;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 44px;
  color: #fff;
  font-size: .85em;
  letter-spacing: .08em;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  transition: .2s;
}



header ul li:hover{
  transition: .2s;
  color: #b8b8b8;
}



header ul li:first-child{
  font-size: 1.35em;
}
